<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="save">   //catalog_product_save_after   "edited"
        <observer name="add_account" instance="Mgn\Tpt2\Observer\SaveManufacturer" />
    </event>
</config>