<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event	name="customer_register_success">
        <observer	name="add_new_member" instance="Mgn\Tpt\Observer\AddNewMember"	/>

    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="order_success" instance="Mgn\Cybergame\Observer\AddCyber" />
    </event>
</config>


